---
import Layout from "../layouts/Layout.astro";
const response = await fetch(
  "https://openaccess-api.clevelandart.org/api/artworks?limit=10&has_image=1"
);
const data = await response.json();
---

<Layout title="ArtTem">
  <main class="max-w-screen-2xl mx-auto p-6">
    <p>{JSON.stringify(data)}</p>
  </main>
</Layout>
