---
import PagePadding from "@components/PagePadding.astro";
import PaintingsList from "@components/home/PaintingsList.astro";
import type { ClevelandArt } from "@interfaces/IClevelandArt";
import Layout from "@layouts/Layout.astro";

const response = await fetch(
  `${import.meta.env.PUBLIC_API}/artworks?limit=21&has_image=1`
);
const d: ClevelandArt | undefined = await response.json();
const data = d?.data ?? [];
---

<!--TODO: fix issue when there are 2 columns in CSS -->
<Layout title="Artgal">
  <PagePadding>
    <main class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <PaintingsList data={data.slice(0, 3)} />
      <PaintingsList data={data.slice(3, 6)} />
      <PaintingsList data={data.slice(6, 9)} />
    </main>
  </PagePadding>
</Layout>
