---
import PageMaxWidth from "@components/PageMaxWidth.astro";
import PagePadding from "@components/PagePadding.astro";
---

<nav
  class="sticky top-0 w-full h-16 py-1.5 bg-black md:flex justify-center text-white items-center z-50 hidden"
>
  <PageMaxWidth>
    <PagePadding>
      <div class="h-full flex items-center tracking-wider justify-between">
        <a href="/" class="text-4xl h-full cursor-pointer">
          <h1 class="font-bold uppercase text-4xl leading-[2.5rem]">
            {"Artgal"}
          </h1>
          <p class="text-[0.6rem] leading-[0.5rem] pl-0.5">
            {"by Albert Turoń"}
          </p>
        </a>
        <div class="gap-x-6 flex">
          <a href="/cultures" class="text-2xl">
            {"cultures"}
          </a>
          <a href="/artists" class="text-2xl">
            {"artists"}
          </a>
          <a href="/about" class="text-2xl">
            {"about"}
          </a>
        </div>
      </div>
    </PagePadding>
  </PageMaxWidth>
</nav>
