---
import DetailRowTitle from "@components/DetailRowTitle.astro";
import Gallery from "@components/Gallery.astro";
import type { ArtistArtworksProps } from "@interfaces/IComponentProps";
import { twMerge } from "tailwind-merge";

export type Props = ArtistArtworksProps;

const {
  title,
  containerClassName = "",
  galleryClassName = "",
  titleClassName = "",
  ...props
} = Astro.props;
---

{
  !!props.data.length && (
    <div class={twMerge("flex flex-col w-full gap-y-4", containerClassName)}>
      {!!title && (
        <DetailRowTitle className={titleClassName}>{title}</DetailRowTitle>
      )}
      <Gallery {...props} className={galleryClassName} />
    </div>
  )
}
