---
import type { DetailRowTitleProps } from "@interfaces/IComponentProps";
import { twMerge } from "tailwind-merge";

export type Props = DetailRowTitleProps;

const { className = "", showTitle = true } = Astro.props;
---

{
  showTitle ? (
    <p class={twMerge("md:text-lg uppercase w-full", className)}>
      <slot />
    </p>
  ) : null
}
