---
import type { DetailRowValueProps } from "@interfaces/IComponentProps";
import { twMerge } from "tailwind-merge";

export type Props = DetailRowValueProps;

const { className = "", showValue = true } = Astro.props;
---

{
  showValue ? (
    <p class={twMerge("text-lg md:text-xl w-full", className)}>
      <slot />
    </p>
  ) : null
}
