---
import type { DetailRowBooleanProps } from "@interfaces/IComponentProps";
import { twMerge } from "tailwind-merge";

export type Props = Pick<DetailRowBooleanProps, "showValue"> & {
  className?: string;
};

const { className = "", showValue = true } = Astro.props;
---

{
  showValue ? (
    <p class={twMerge("text-xl md:text-lg w-full", className)}>
      <slot />
    </p>
  ) : null
}
