---
import PageMaxWidth from "./PageMaxWidth.astro";
import PagePadding from "./PagePadding.astro";
import NavbarMobile from "./navbar/NavbarMobile";
import NavbarOverMobile from "./navbar/NavbarOverMobile.astro";
---

<nav
  class="sticky top-0 w-full h-16 py-1.5 md:h-20 bg-black flex justify-center text-white items-center z-50"
>
  <PageMaxWidth>
    <PagePadding>
      <NavbarMobile client:visible />
      <NavbarOverMobile />
    </PagePadding>
  </PageMaxWidth>
</nav>
