<nav
  class="sticky top-0 w-full h-20 lg:h-24 bg-black flex justify-center px-2 lg:px-6 text-white items-center z-50"
>
  <a href="/" class="text-4xl h-full cursor-pointer"
    ><div class="h-full flex items-center justify-center tracking-wider">
      <p>
        {"Artgal"}
      </p>
    </div>
  </a>
</nav>
