---
import { twMerge } from "tailwind-merge";

export interface Props {
  horizontal?: boolean;
  vertical?: boolean;
  className?: string;
}

const { horizontal = true, vertical = true, className = "" } = Astro.props;
---

<div
  class={twMerge(
    `flex flex-1 flex-col ${horizontal ? "px-3 lg:px-5" : ""} ${
      vertical ? "py-3 lg:py-5" : ""
    }`,
    className
  )}
>
  <slot />
</div>
