---
export const prerender = true;

import { twMerge } from "tailwind-merge";
import type { Images } from "@interfaces/IArt";
import { artImagesSource } from "src/utils/misc";

export interface Props {
  images: Images;
  className?: string;
}
const { images, className = "" } = Astro.props;
const imageSource = artImagesSource(images);
---

<>
  {
    imageSource ? (
      <img
        src={imageSource}
        class={twMerge("object-contain max-h-full", className)}
      />
    ) : (
      <div
        class={twMerge(
          "flex justify-center items-center bg-slate-600 aspect-square",
          className
        )}
      >
        <p class="text-white text-lg">{"Painting not found"}</p>
      </div>
    )
  }
</>
