---
import { twMerge } from "tailwind-merge";
import { artImagesData } from "src/utils/misc";

export type Props = PaintingProps;

const { images, className = "" } = Astro.props;
const imageSource = artImagesData(images);
import fallbackImg from "../../public/images/image-not-found.jpg";
import type { PaintingProps } from "@interfaces/IComponentProps";
---

<>
  {
    imageSource ? (
      <img
        src={imageSource.src}
        width={imageSource.width}
        height={imageSource.height}
        onerror={`this.onerror=null; this.src='${fallbackImg}'`}
        class={twMerge("object-contain max-h-full max-w-full", className)}
      />
    ) : (
      <div
        class={twMerge(
          "flex justify-center items-center bg-slate-600 aspect-square",
          className
        )}
      >
        <p class="text-white text-lg">{"Painting not found"}</p>
      </div>
    )
  }
</>
